.contacts
  &-container
    position: relative
  &-block
    position: absolute
    left: 0
    top: 30%
    background-color: #ffffff
    padding: 50px 46px 58px
  &__heading
    text-transform: uppercase
    font-size: 20px
    text-align: center
    & span
      color: $main-color