.footer
  background-color: #000000
  padding: 30px 0
  &-block
    display: flex
    justify-content: space-between
    align-items: center
  &-icon
    width: 15px
    height: 21px
    display: inline-block
    margin-right: 3px
  &__adress
    span
      color: #fdfcfc
      font-size: 20px
  &__contacts
    display: flex
    a
      color: #fdfcfc
      font-size: 18px
  &-mail
    padding-right: 27px
    border-right: 1px solid #2a2a2a
  &-phone
    padding-left: 25px
.social
  &-item
    display: inline-block
    padding: 3px
  &-link
    width: 26px
    height: 26px
@media (max-width: 992px)
  .footer
    &-block
      flex-wrap: wrap
@media (max-width: 575px)
  .footer
    padding: 40px 0
    &-mail
      margin: 0 20px 10px
@media (max-width: 514px)
  .footer
    padding: 40px 0
    span, a
      font-size: 16px
      display: block
    &-block
      justify-content: center
    &-icon
      display: none
    &__contacts
      flex-wrap: wrap
      justify-content: center
    &-mail
      padding-right: 0
      border: none
    &-phone
      padding-left: 0
    &__social
      margin: 10px auto
  
