.navbar
  padding-top: 5px
  padding-bottom: 8px  
  background: linear-gradient(to right, #ffffff 60%, #f1f1f1 40%)
  &-block
    display: flex
    justify-content: space-between
  &__menu
    display: flex
    align-items: center
    justify-content: space-between
    flex-basis: 61%
  &__links
    display: flex
    li
      padding: 0 25px 0 30px
      position: relative  
      /* &:after
        position: absolute
        width: 1px
        height: 12px
        color: $text-color
        top: 0
        right: 0 */
          
  &-link
    font-size: 16px
    padding-bottom: 3px  
   
    &:hover
      color: $main-color
      border-bottom: 2px solid $main-color    
  &__contacts
      display: flex
      align-items: center      
  &-phone
    &__link
      margin-left: 6px   
      font-size: 18px
  &-button
    margin-left: 44px
    margin-top: 2px
    background-color: $main-color
    padding: 12px 15px 10px
    font-size: 14px
    font-weight: 600


