.new
  &__image
    max-width: 377px
    margin-bottom: 6px
  &s
    background-color: $secondary-color
    padding-bottom: 80px
    &-block
      display: flex
      justify-content: space-between
      margin-bottom: 55px
    &__button
      font-size: 20px
      margin: auto
      display: block
      padding: 15px 40px
    &__title
      margin-bottom: 55px
.text
  &__heading
    display: inline-block
    text-transform: uppercase
    margin-right: 57px
    font-size: 20px  
  &__description
    max-width: 325px
    line-height: 28px
    font-size: 18px
    margin-top: -5px
.important
  background-color: $main-color
  padding: 3px
  font-weight: 600
@media (max-width: 1200px)
  .news
    &-block
      flex-wrap: wrap
      justify-content: space-around
  .new
    margin-bottom: 20px
@media (max-width: 768px)
  .news
    &-block
      flex-direction: column
      align-items: center
      margin-bottom: 15px
  .new
    margin-bottom: 20px
  .text
    &__description
      font-size: 16px
@media (max-width: 320px)
  .text
    &__heading
      display: block
    &__description
      margin-top: 7px
  .news
    &__button
      padding: 15px 30px


  