.services
  background-color: $secondary-color
  &-block
    display: flex
.service-card
  flex-basis: 33%
  text-align: center
  position: relative
  &__image
    
  &__description
    position: absolute
    top: 30%
    left: 10%
  &__text
    max-width: 294px
    margin: auto
    line-height: 26px
    margin-bottom: 30px
    color: #ffffff 
  &__button
    font-size: 15px
    text-transform: uppercase
    padding: 11px 19px
    

